[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]
pytest = "*"
pylint = "*"
flake8 = "*"
black = "*"
pyright = "*"

[requires]
python_version = "3.12"
