[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
matplotlib = "*"
scipy = "*"
numba = "*"
lightning = "*"
wandb = "*"
scikit-learn = "*"
"jsonargparse[signatures]" = "*"
finetuning-scheduler = "*"
#flash-attn = "*"
#transformerengine = {git="https://github.com/NVIDIA/TransformerEngine.git", ref="stable"}

[dev-packages]
pytest = "*"
pylint = "*"
flake8 = "*"
black = "*"
pyright = "*"
line_profiler = "*"

[requires]
python_version = "3.12"
